<div class="card flex justify-center flex-col">
  <div *ngFor="let detail of userDetail">



  <div class="p-4 max-w-xl mx-auto">
    <!-- Tab Buttons -->
    <div class="p-2 rounded-t-lg">
      <div class="flex flex-wrap flex-row justify-evenly">
        <button class="px-4 py-2 text-white font-semibold border-b-4 border-playez-900 focus:outline-none tab-button"
          [class.active]="activeTab === 'tab1'" (click)="showTab('tab1')">Edad</button>
        <button class="px-4 py-2 text-white font-semibold border-b-4 border-playez-900 focus:outline-none tab-button"
          [class.active]="activeTab === 'tab5'" (click)="showTab('tab5')">Altura</button>
        <button class="px-4 py-2 text-white font-semibold border-b-4 border-playez-900 focus:outline-none tab-button"
          [class.active]="activeTab === 'tab6'" (click)="showTab('tab6')">Peso</button>
        <button class="px-4 py-2 text-white font-semibold border-b-4 border-playez-900 focus:outline-none tab-button"
          [class.active]="activeTab === 'tab7'" (click)="showTab('tab7')">Pierna</button>
      </div>
    </div>

  </div>
  
    <!-- Tab Content -->
    <div id="tab1" class="p-4 tab-content shadow-md rounded-lg" [class.hidden]="activeTab !== 'tab1'">
      <h2 class="text-2xl font-semibold mb-2 text-playez-300"> {{ formatDate(detail.userDetails?.birthYear) }}</h2>
      <p>
        Edad: {{ calculateAge(detail.userDetails?.birthYear) }}
      </p>
    </div>

    <div id="tab5" class="p-4 tab-content shadow-md rounded-lg" [class.hidden]="activeTab !== 'tab5'">
      <h2 class="text-2xl font-semibold mb-2 text-playez-300">{{ detail.userDetails?.height }}</h2>
      <p>Altura</p>
    </div>
    <div id="tab6" class="p-4 tab-content shadow-md rounded-lg" [class.hidden]="activeTab !== 'tab6'">
      <h2 class="text-2xl font-semibold mb-2 text-playez-300">{{ detail.userDetails?.weight }}</h2>
      <p>Peso</p>
    </div>
    <div id="tab7" class="p-4 tab-content shadow-md rounded-lg" [class.hidden]="activeTab !== 'tab7'">
      <h2 class="text-2xl font-semibold mb-2 text-playez-300">{{ detail.userDetails?.mainFoot }}</h2>
      <p>Pierna</p>
    </div>
  </div>
</div>