
<div class="card flex justify-center flex-col">
  <div *ngFor="let detail of userDetail">
    <div class="p-4 max-w-xl mx-auto">

      <div class="p-2 rounded-t-lg">
        <div class="flex flex-wrap flex-row justify-evenly">
          <ion-list lines="full" class="w-full">
            <ion-item class="flex justify-between">
              <ion-label class="w-1/2">Edad</ion-label>
              <ion-label class="w-1/2 text-right">{{ calculateAge(detail.userDetails?.birthYear) }}</ion-label>
            </ion-item>
            <ion-item class="flex justify-between">
              <ion-label class="w-1/2">Altura</ion-label>
              <ion-label class="w-1/2 text-right">{{ detail.userDetails?.height }}</ion-label>
            </ion-item>
            <ion-item class="flex justify-between">
              <ion-label class="w-1/2">Peso</ion-label>
              <ion-label class="w-1/2 text-right">{{ detail.userDetails?.weight }}</ion-label>
            </ion-item>
            <ion-item class="flex justify-between">
              <ion-label class="w-1/2">Pierna</ion-label>
              <ion-label class="w-1/2 text-right">{{ detail.userDetails?.mainFoot }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</div>