.card {
    width: 85vw;
    height: auto;
    border-radius: 30px;
    background: #373737;
    margin: 5%;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
   }
   