<app-topbar></app-topbar>

<div class="mt-2">
  <ion-card (click)="navigateToRankGoals()" color="success">
    <ion-card-header>
      <ion-card-title>GOLES</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>JUGADAS</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>ASISTENCIAS</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>ACCIÓN DEFENSIVA</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</div>

<app-navbar></app-navbar>
