<!-- <app-topbar></app-topbar> -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">






  <!-- <ion-item>
    <ion-label>Modo Claro</ion-label>
    <ion-toggle [(ngModel)]="isDarkMode" (ionChange)="toggleTheme($event)"></ion-toggle>
  </ion-item> -->
<ion-content [fullscreen]="true">
  <app-futcard />
  <app-user-posts [users_id]="users_id"></app-user-posts>
  <app-create-details />
  <app-create-skill />
  <app-skills-graphics  [users_id]="users_id"></app-skills-graphics>
</ion-content >

<app-navbar>