.scroll {
  overflow-y: auto; 
  margin-bottom: 15%;
}

ion-card-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
  padding: 0.8rem 0.8rem;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #252525;
  margin: 7%;
}

.create-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem; /* Tamaño de letra más pequeño */
  width: 50%;
}

.small-button {
  width: 70%; /* Ancho ajustado para que sean más pequeños en relación al contenedor */
  margin: 3px 0;
  font-size: 0.7rem; /* Tamaño de letra más pequeño */
  padding: 4px; /* Padding ajustado */
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;
}