<app-topbar></app-topbar>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<ion-content [fullscreen]="true">
  <ion-card>
    <app-futcard class="m-10"/>
    <app-table-info class="flex justify-center"/>
    <app-user-posts [users_id]="users_id"></app-user-posts>
    <div class="flex justify-center flex-col items-center mt-1 ">
      <app-create-details class="m-3" />
      <app-create-skill class="m-3" />
    </div>
  </ion-card>
  <ion-card class="mb-10">
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <app-skills-graphics [users_id]="users_id"></app-skills-graphics>
    </ion-card-header>
  </ion-card>
</ion-content>
<app-navbar>