<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Encuéntralos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <ion-list>
    <ion-item>
      <ion-searchbar (ionInput)="filterDetails($event)"></ion-searchbar>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Selecciona una posición" (ionChange)="filterByPosition($event)">
        <ion-select-option value="">Todos</ion-select-option>
        <ion-select-option value="delantero">Delantero</ion-select-option>
        <ion-select-option value="medio">Medio</ion-select-option>
        <ion-select-option value="defensa">Defensa</ion-select-option>
        <ion-select-option value="portero">Portero</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <div *ngFor="let detail of filteredDetails" class="max-w-sm mx-auto mt-10">
      <div (click)="passUserId(detail.userId)" class="p-3 flex items-center justify-between border-t cursor-pointer hover:bg-gray-200">
        <div class="flex items-center">
          <img class="rounded-full h-10 w-10" src="https://loremflickr.com/g/600/600/girl">
          <div class="ml-2 flex flex-col">
            <div class="leading-snug text-sm text-gray-900 font-bold">{{  detail.userDetails?.[0]?.name  }}</div>
            <div class="leading-snug text-[12px] text-gray-500 font-bold">{{  detail.currentTeam }}</div>
            <div class="leading-snug text-[19px] text-gray-800 font-bold">{{  detail.nationality }}</div>
          </div>
        </div>
        <button class="h-8 px-3 text-md font-bold text-blue-400 border border-blue-400 rounded-full hover:bg-blue-100">Follow</button>
      </div>
    </div>
  </ion-list>  
</ion-content>
<app-navbar/>