section {
  overflow-y: auto; 
  margin-bottom: 15%;
}

.card {
  width: 85vw;
  height: auto;
  border-radius: 30px;
  background: #373737;
  margin: 5%;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
              -15px -15px 30px rgb(60, 60, 60);
}

.card img {
  width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 50px;
}

.player-name {
  color: white;
  font-size: 1.5rem; /* Ajusta el tamaño del nombre del jugador */
  font-weight: bold;
}

.player-team,
.player-nationality {
  color: #bbb;
  font-size: 1rem; /* Ajusta el tamaño del equipo y la nacionalidad */
}

.follow-button {
  height: 30px;
  padding: 0 10px;
  font-size: 0.875rem;
  font-weight: bold;
  color: #E7FF0D;
  border: 1px solid #E7FF0D;
  border-radius: 15px;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.follow-button:hover {
  background-color: #E7FF0D;
  color: #fff;
}
