<!-- <link rel="stylesheet" href="../../../assets/icon/flags/flag-icons.css" /> -->

<div class="main-screen mt-3">
    <main class="container-main">
      <h1 class="text-4xl font-bold text-center">Detalles</h1>
      <form class="grid gap-3">
        <div>
          <label for="year" class="block text-sm font-medium text-gray-700">Año de nacimiento:</label>
          <input [value]="userDetails.birthYear | date:'yyyy-MM-dd'" type="text" id="year" name="year"
            class="field input-field" placeholder="yyyy-MM-dd">
        </div>
        <!-- <div>
          <label class="block text-sm font-medium text-gray-700">Nacionalidad</label>
          <input type="text" [(ngModel)]="userDetails.nationality" name="nationality" class="field input-field">
        </div> --> 
  
        <label for="nationality">Selecciona bandera:</label>
        <ion-select class="field input-field" interface="action-sheet" placeholder="País:"
          [(ngModel)]="userDetails.nationality">
          <ion-select-option *ngFor="let country of countries" [value]="country.name">
            {{ country.name }}
            <span class="fi-xx">bandera</span>
          </ion-select-option>
        </ion-select>
  
        <div>
          <label class="block text-sm font-medium text-gray-700">Equipo Actual</label>
          <input type="text" [(ngModel)]="userDetails.currentTeam" name="currentTeam" class="field input-field">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Dorsal</label>
          <input type="number" [(ngModel)]="userDetails.dorsal" name="dorsal" class="field input-field">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Posición</label>
          <input type="text" [(ngModel)]="userDetails.favPosition" name="favPosition" class="field input-field">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Pierna Dominante</label>
          <input type="text" [(ngModel)]="userDetails.mainFoot" name="mainFoot" class="field input-field">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Altura</label>
          <input type="number" [(ngModel)]="userDetails.weight" name="weight" class="field input-field">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700">Peso</label>
          <input type="text" [(ngModel)]="userDetails.height" name="height" class="field input-field">
        </div>
        <app-button-playez type="submit" (click)="updateDetails()" [buttonText]="'Actualizar'" class="pt-4" />
      </form>
    </main>
  </div>




import { Component, OnInit } from '@angular/core';
import { FormsModule } from '@angular/forms';
import { DetailUsersService } from 'src/app/services/detailService/detail-users.service';
import { ButtonPlayezComponent } from '../ui_ux/button-playez/button-playez.component';
import { IonicModule } from '@ionic/angular';
import { CommonModule } from '@angular/common';
import { Router } from '@angular/router';
import { CountryService } from 'src/app/services/countryService/country.service';
// import "/node_modules/flag-icons/css/flag-icons.min.css";

@Component({
  selector: 'app-setting-details',
  templateUrl: './setting-details.component.html',
  styleUrls: ['./setting-details.component.scss'],
  standalone: true,
  imports: [FormsModule, ButtonPlayezComponent, IonicModule, CommonModule]
})
export class SettingDetailsComponent implements OnInit {
  countries: any[] = [];


  userDetails: any = {
    birthYear: '',
    nationality: '',
    currentTeam: '',
    dorsal: '',
    favPosition: '',
    mainFoot: '',
    weight: '',
    height: '',
  };
  userId: string | null = null;

  constructor(private detailService: DetailUsersService,
    private countryService: CountryService,
    private router: Router) {
    this.userDetails.birthYear = new Date().toISOString().slice(0, 10);
  }


  ngOnInit(): void {
    
    const userId = localStorage.getItem('users_id');
    if (userId !== null) {
      this.userId = userId;
     this.loadCountries();//Esta aqui por que no puedo traer la lista de los paises, hay qu emeterlo en el if en cuanto se reciba el userDetail
      this.detailService.getAllDetails().then((data: any) => {
        // Filtra los detalles para encontrar aquellos con el userId deseado
        const userDetail = data.data.find((detail: any) => detail.userId === userId);
        if (userDetail) {
          this.userDetails = userDetail;
          console.log('Details data:', this.userDetails)
        } else {
          console.error('User details not found for userId:', userId);
        }
        
      }).catch(error => {
        console.error('Error fetching user details:', error);
      });
    } else {
      console.error('User ID not found in local storage.');
    }
  }

  reloadPage(): void {
    this.router.navigateByUrl('/profile').then(() => {
      window.location.reload();
    });
  }

  loadCountries(): void {
    this.countryService.getCountries().subscribe(
      countries => {
        this.countries = countries;
      },
      error => {
        console.error('Error loading countries:', error);
      }
    );
  }

  async updateDetails() {
    if (this.userDetails && this.userDetails._id) {
      try {
        const updateDetail = await this.detailService.updateDetailById(this.userDetails._id, this.userDetails);
        console.log('Details updated successfully:', updateDetail);
        this.reloadPage()
        // Aquí puedes redirigir a otra página o mostrar un mensaje de éxito
      } catch (error) {
        console.error('Error updating user details:', error);
        // Aquí puedes manejar el error mostrando un mensaje al usuario
        this.reloadPage()
      }
    } else {
      console.error('No user details found or user details does not have an _id.');
    }
  }

}
