button {
    display:flex;
    width: 60px;
    height: 60px;
    transform: scale(1);
    border-style: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: #252525;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25),
                -2px -2px 6px rgb(255 255 255 / 14%);

    transition: box-shadow 0.3s ease-in-out;
  }
  
  button:active {
    background: #252525;
    box-shadow: 
      inset 6px 6px 12px rgba(0, 0, 0, 0.25),   /* Dark shadow */
      inset -2px -2px 6px rgba(255, 255, 255, 0.25);  /* Light shadow */
    transition: box-shadow 0.3s ease-in-out;
  }
  
  button i {
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 60px;
    background: linear-gradient(-45deg, gray 0%, lightgray 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s;
  }
  
  button:active i {
    color: #e7ff0d;
    transform: scale(.9);
    transition: all .3s;
  }
  
  .svg {
    width: 25px;
    height: 60px;
    border-style: none;
    align-items: center;
  }