<app-topbar></app-topbar>

<ion-content class="p-4 mb-6" *ngFor="let detail of userDetail">

  <div class="flex flex-col items-center m-3">
    <ion-thumbnail class="p-2">
      <img [src]="detail.userDetails?.photo || defaultImage" alt="Pedro" draggable="false"
        (error)="handleImageError(detail)" />
    </ion-thumbnail>

    <div *ngIf="isGeneratedCard">
      <ion-button id="popover-button" fill="clear">cambiar Foto</ion-button>
      <ion-popover trigger="popover-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item>
                <label for="file-upload"
                  class="flex items-center text-white px-4 py-2 rounded cursor-pointer hover:bg-blue-600">
                  <input type="file" id="file-upload" class="hidden" (change)="onFileSelected($event)" />
                  <p>Aqui que hay?</p>
                </label>
              </ion-item>
              <ion-item>
                <button class="bg-green-500 text-white  p-2 rounded hover:bg-green-600 focus:outline-none"
                  (click)="uploadImage()">Aceptar</button>
              </ion-item>

              <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
                <ng-template>
                  <ion-content>
                    <ion-list>
                      <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
  </div>

  <!-- <div class="player-picture">
    <img [src]="detail.userDetails?.photo || defaultImage" alt="Pedro" draggable="false"
      (error)="handleImageError(detail)" />
  </div> -->
  <app-setting-user />
  <app-setting-details />
  <app-setting-skill />
</ion-content>
<app-navbar></app-navbar>