.post-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
.likeMenu {
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  display: flex;
  gap: 15px;
}

.label {
  margin-left: 10px;
}