<!-- <app-topbar *ngIf="!aviso"></app-topbar> -->
<div *ngIf="aviso">
</div>
<ion-content *ngIf="!aviso">
  <ion-card >
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-header>
              <ion-card-title class="text-playez-300">Subir Reel</ion-card-title>
            </ion-card-header>
          </ion-col>
          <ion-col size="auto">
            <div > 
              <ion-item height="0" no-lines>
                <ion-thumbnail *ngIf="imgSrc" slot="start">
                  <input type="hidden" [(ngModel)]="post.users_id">
                  <img [src]="imgSrc" alt="Imagen del producto">
                </ion-thumbnail>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>El archivo debe tener un formato de video y no pesar mas de 20MB.
      </ion-grid>
      
      <ion-list>
        <ion-item>
          <ion-label>Selecciona un archivo</ion-label>
          <ion-button (click)="takeImage()" slot="end">Buscar</ion-button>
        </ion-item>

        <ion-item>
          <ion-input label="Título" label-placement="floating" fill="outline" [(ngModel)]="post.title" placeholder="Título"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Descripción" label-placement="floating" fill="outline" placeholder="Descripción" [(ngModel)]="post.description">
          </ion-input>
        </ion-item>

        <ion-item >

          <ion-select   [(ngModel)]="post.category" label="Selecciona una categoría" label-placement="floating" fill="outline">
            <ion-select-option value="gol">Gol</ion-select-option>
            <ion-select-option value="jugadas">Jugadas</ion-select-option>
            <ion-select-option value="asistencia">Asistencia</ion-select-option>
            <ion-select-option value="defensa">Acción Defensiva</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <span class="h-9 w-12">{{errorMessage}}</span>
      <!-- <app-button-playez (click)="createPost()" [buttonText]="'Guardar'" /> -->
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size="12"></ion-col>
          <ion-col size="8"><ion-button (click)="createPost()">Guardar</ion-button></ion-col>
          <ion-col size="8"></ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>