<ion-content [fullscreen]="true">
  <app-topbar></app-topbar>
  <ion-list>
    <ion-item no-lines>
      <input type="hidden" [(ngModel)]="post.users_id">
    </ion-item>

    <!-- Muestra la imagen capturada si existe -->
    <ion-avatar *ngIf="imgSrc" slot="start">
      <img [src]="imgSrc" alt="Imagen del producto">
    </ion-avatar>

    <ion-item>
      <ion-label position="stacked">Contenido</ion-label>
      <ion-button (click)="takeImage()">Selecciona tu imagen</ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input type="text" [(ngModel)]="post.title" placeholder="Título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="post.description" placeholder="Descripción"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Categoría</ion-label>
      <ion-select [(ngModel)]="post.category" placeholder="Selecciona una categoría">
        <ion-select-option value="Goal">Gol</ion-select-option>
        <ion-select-option value="Play">Jugadas</ion-select-option>
        <ion-select-option value="Assistance">Asistencia</ion-select-option>
        <ion-select-option value="Defense">Acción Defensiva</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="errorMessage">
    <ion-label color="danger">{{ errorMessage }}</ion-label>
  </ion-item>
  <ion-button (click)="createPost()">Guardar</ion-button>
</ion-content>

<app-navbar></app-navbar>
