<app-topbar></app-topbar>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Contenido</ion-label>
      <ion-input type="file" [(ngModel)]="post.file" placeholder="URL de tu imagen" autofocus></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input type="text" [(ngModel)]="post.title" placeholder="Título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="post.description" placeholder="Descripción"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Categoría</ion-label>
      <ion-select [(ngModel)]="post.category" placeholder="Selecciona una categoría">
        <ion-select-option value="Goal">Gol</ion-select-option>
        <ion-select-option value="Play">Jugadas</ion-select-option>
        <ion-select-option value="Assistance">Asistencia</ion-select-option>
        <ion-select-option value="Defense">Acción Defensiva</ion-select-option>
        <ion-select-option value="Team">Equipo</ion-select-option>
        <ion-select-option value="Training">Entrenamiento</ion-select-option>
        <ion-select-option value="Misc">Otros</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button (click)="CreatePost()">Guardar</ion-button>
</ion-content>

<app-navbar></app-navbar>


 <!-- <ion-item>
      <ion-label position="stacked">User</ion-label>
      <ion-input type="text" [(ngModel)]="post.users_id" placeholder="User" autofocus></ion-input>
    </ion-item> -->