// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


// Light theme
:root {
    --ion-background-color: #373737;
    --ion-text-color: #F2F2F2;
    --ion-color-primary: #E7FF0D;
    --ion-color-secondary: #BBBF39;
    --ion-color-tertiary:  #14b8aa; // Color de información
    --ion-color-warning: #bf3939; // Color de advertencia
    --ion-color-success: #54bf39; // Color de éxito
    --ion-color-step-850: #f2f2f2; /* Asegúrate de que esta variable esté configurada a blanco */
    --ion-text-color-step-150: #f2f2f2; /* Asegúrate de que esta variable esté configurada a blanco */
    --ion-text-color-rgb: 231, 255, 13;
}
  
  // Dark theme
  body.dark-mode {
    // --ion-background-color: linear-gradient(to bottom, #F2F2F2, #e5f3cf);
    --ion-text-color: #f2f2f2;
    --ion-color-primary:  #BBBF39;
    --ion-color-secondary: #E7FF0D;;
    // Añade más variables según sea necesario
  }
  