
<ion-list>
  <ion-input
      class="container"
      type="email"
      label="Email"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="Invalid email"
      email>
  </ion-input>

  <ion-input
      class="container"
      type="password"
      label="Password"
      labelPlacement="floating"
      helperText="Enter a valid password"
      errorText="Invalid password"
      email>
  </ion-input>  
</ion-list>

<!-- <ion-button></ion-button> -->

<button>
  Enviar
</button>