<div class="main-screen">
  <main class="container-main">
  <p id="heading"></p>
    <div>
      <img src="../../../assets/icon/playez.svg" alt="icono de playez" class="z-logo">
    </div>
  
  <form class="form" [formGroup]="formNewUser" (ngSubmit)="Create()">
    <!-- //Nombre de Usuario -->
    <section>
      <label class="field">
        <input class="input-field" type="text" formControlName="userName" placeholder="Usuario" />
      </label>
      <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="text-red-500">
        <span *ngIf="userName.errors?.['required']">El nombre de usuario es obligatorio</span>
      </div>
    </section>
    <!-- //Nombre -->
    <section>
      <label class="field">
        <input class="input-field" type="text" formControlName="name" placeholder="Nombre">
      </label>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-red-500">
      </div>
    </section>
    <!-- //Apellido -->
    <section>
      <label class="field">
        <input class="input-field" type="text" formControlName="lastName" placeholder="Apellidos">
      </label>
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="text-red-500">
      </div>
    </section>
    <!-- //email -->
    <section>
      <label class="field">
        <input class="input-field" type="email" formControlName="email" placeholder="Correo">
      </label>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-red-500">
        <span *ngIf="email.errors?.['required']">Por favor introduce tu email</span>
        <span *ngIf="email.errors?.['email']">El email debe tener un formato válido</span>
      </div>
    </section>
    <!-- //telefono -->
    <section>
      <label class="field">
        <input class="input-field" type="number" formControlName="phoneNumber" placeholder="Número movil">
      </label>
      <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="text-red-500">
        <span *ngIf="phoneNumber.errors?.['required']">Por favor introduce tu número</span>
      </div>
    </section>
    <!-- //Contraseña -->
    <section>
      <label class="field">
        <input class="input-field" type="password" formControlName="password" placeholder="Contraseña">
      </label>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-red-500">
        <span *ngIf="password.errors?.['required']">Por favor crea una contraseña</span>
        <span *ngIf="password.errors?.['minlength']">La contraseña debe tener un mínimo de 8 caracteres</span>
        <span *ngIf="password.errors?.['pattern']">La contraseña debe incluir mayúsculas, minúsculas, números y carácteres especiales</span>
      </div>
    </section>
    <!-- //Repetir contraseña -->
    <section>
      <label class="field">
        <input class="input-field" type="password" formControlName="repeatPassword" placeholder="Repita la contraseña">
      </label>
      <div *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)" class="text-red-500">
        <span *ngIf="repeatPassword.errors?.['required']">Las contraseñas deben coincidir</span>
      </div>
    </section>
    <!-- //Terminos & condiciones  -->
    <section>
      <div class="flex flex-col items-center justify-center">
        <label class="label cursor-pointer ml-2 flex items-center justify-center">
            <input type="checkbox" formControlName="terms" class="checkbox checkbox-xs text-white" />
            <span class="label-text p-1 mb-0"> He leido y acepto los Términos y Condiciones de Uso </span>
        </label>
        <div *ngIf="showTermsError" class="text-red-500" role="alert">
            <span *ngIf="terms.errors?.['required']">Debes aceptar los términos y condiciones</span>
        </div>
      </div>
    </section>
    <!-- Boton submit -->
    <button class="animated-button" (click)="Create()">
      <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
        </path>
      </svg>
      <span class="text">Registrarse</span>
      <span class="circle"></span>
      <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
        </path>
      </svg>
    </button> 
     
    <!-- Cuenta existente -->
    <button (click)="navigateToLogin()" class="button3"
    >Ya tengo una cuenta</button>
    <!-- google registre -->
    <app-googlelogin></app-googlelogin>
  </form>
</main>
</div>
