.main-screen {
  font-family: Arial, sans-serif;
  background-color: #373737;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto; // Permitir el desplazamiento en la pantalla principal

  .container-main {
    background-color: #373737;
    border-radius: 10px;
    padding: 20px;
    width: 100%; // Ajusta el ancho según sea necesario
    max-width: 99vw; // Ajusta el ancho máximo según sea necesario
    text-align: center;
    max-height: 100%; // Asegura que el contenedor principal no exceda la altura de la pantalla
    overflow-y: auto; // Permitir el desplazamiento vertical
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #373737;
  border-radius: 25px;
  transition: .4s ease-in-out;
}

.z-logo {
  width: 40%;
  height: auto;
  padding: 10%;
  margin-bottom: 10%;
}

.z-logo:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #373737;
  box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.598);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 60px;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1, .button2, .button3 {
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1 {
  padding-left: 1.1em;
  padding-right: 1.1em;
  margin-right: 0.5em;
  width: 50%;
}

.button2 {
  padding-left: 2.3em;
  padding-right: 2.3em;
}

.button3 {
  margin-bottom: 3em;
}

.button1:hover, .button2:hover {
  background-color: black;
}

.button3:hover {
  background-color: red;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #bbbf39;
  box-shadow: 0 0 0 2px #bbbf39;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #bbbf39;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #bbbf39;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #bbbf39;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
