<ion-header style="background-color: #252525;">
  <ion-title>
    <img src="../../../assets/icon/playez.svg" class="h-8" alt="PlayezPro Logo" [routerLink]="'/home'">
  </ion-title>
  <div class="flex justify-end">
    <ion-button slot="end" class="icon-button" [routerLink]="'/home'">
      <app-back-button />
    </ion-button>

    <ion-button slot="end" class="icon-button mr-3" (click)="onClickLogout()">
      <ion-icon slot="icon-only" color="secondary" name="power-outline" aria-hidden="true"></ion-icon>
    </ion-button>
  </div>
</ion-header>