<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../../assets/icon/playez.svg" class="h-8" alt="PlayezPro Logo">
    </ion-title>
    <ion-button slot="end" class="icon-button" [routerLink]="'/setting'">
      <ion-icon slot="icon-only" color="secondary" name="settings-outline" aria-hidden="true"></ion-icon>
    </ion-button>
    <ion-button slot="end" class="icon-button" (click)="onClickLogout()">
      <ion-icon slot="icon-only" color="secondary" name="log-out-outline" aria-hidden="true"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header> -->

<!-- <div class="mobile-wrapper"> -->
  <div class="mobile-container">
    <div class="content">
      <nav class="flex justify-between items-center h-60">
        <img src="../../../assets/icon/playez.svg" class="h-8 ml-3" alt="PlayezPro Logo" [routerLink]="'/home'">
        <input type="checkbox" id="hamburger1" />
        <label for="hamburger1" class="ml-[85%]"></label>
        <ul class="nav-links">
          <li><a [routerLink]="'/setting'">Ajustes</a></li>
          <!-- <li><a href="#">products</a></li>
          <li><a href="#">media</a></li> -->
          <li><a (click)="onClickLogout()">Salir</a></li>
        </ul>
      </nav>
    </div>
  </div>
<!-- </div> -->

