<ion-header>
  <ion-toolbar class="bg-blue-500">
    <ion-title class="text-white">Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="p-4">
  <h1 class="text-4xl font-bold text-center">Usuario</h1>
  <form (ngSubmit)="updateUser()" class="space-y-4">
    <div>
      <label for="name" class="block text-sm font-medium text-gray-700">Nombre:</label>
      <input type="text" id="name" [(ngModel)]="user.name" name="name" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>
    <div>
      <label for="lastName" class="block text-sm font-medium text-gray-700">Apellidos:</label>
      <input type="text" id="lastName" [(ngModel)]="user.lastName" name="lastName" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>
    <div>
      <label for="userName" class="block text-sm font-medium text-gray-700">Nombre de Usuario:</label>
      <input type="text" id="userName" [(ngModel)]="user.userName" name="userName" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>
    <div>
      <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico:</label>
      <input type="email" id="email" [(ngModel)]="user.email" name="email" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>
    <div>
      <label for="phoneNumber" class="block text-sm font-medium text-gray-700">Numero de telefono:</label>
      <input type="text" id="phoneNumber" [(ngModel)]="user.phoneNumber" name="phoneNumber" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>
    <!-- <div>
      <label for="password" class="block text-sm font-medium text-gray-700">Nombre de Usuario:</label>
      <input type="password" id="password" [(ngModel)]="user[0].password" name="password" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>
    <div>
      <label for="repeatPassword" class="block text-sm font-medium text-gray-700">Nombre de Usuario:</label>
      <input type="password" id="repeatPassword" [(ngModel)]="user[0].repeatPassword" name="repeatPassword" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div> -->
    <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Actualizar</button>
  </form>
</ion-content>
