
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@tailwind base;
@tailwind components;
@tailwind utilities; 


// Estilos para actionsheet
ion-action-sheet.custom-action-sheet {
    --background: #252525; /* Fondo blanco */
    --color: #e7ff0e; /* Texto amarillo */
    --button-background-hover: #e0e0e0; /* Fondo de botón al pasar el ratón */
    --button-background-focused: #e0e0e0; /* Fondo de botón al enfocarse */
    --button-background-activated: #e0e0e0; /* Fondo de botón al activarse */
    --button-color: #e7ff0e /* Color del texto de los botones */
  }

  .custom-alert .alert-wrapper {
    --background: #252525; /* Fondo negro */
    --color: #e7ff0e; /* Texto amarillo */
  }
  
  .custom-alert .alert-button {
    --color: #e7ff0e; /* Color del texto de los botones */
  }
  
  .custom-alert .alert-button:hover,
  .custom-alert .alert-button:focus,
  .custom-alert .alert-button:active {
    --background: #e0e0e0; /* Fondo de botón al enfocarse y activarse */
  }

  .sc-ion-alert-ios-h{
    --background: #252525; /* Fondo negro */
    --color: #e7ff0e; /* Texto amarillo */
  }