
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@tailwind base;
@tailwind components;
@tailwind utilities; 


// Estilos para actionsheet
ion-action-sheet.custom-action-sheet {
    --background: #ffffff; /* Fondo blanco */
    --color: #000000; /* Texto negro */
    --button-background-hover: #e0e0e0; /* Fondo de botón al pasar el ratón */
    --button-background-focused: #e0e0e0; /* Fondo de botón al enfocarse */
    --button-background-activated: #e0e0e0; /* Fondo de botón al activarse */
    --button-color: #000000; /* Color del texto de los botones */
    
  }
  